
.theme-icon-container{
  width:25px;
  aspect-ratio:1;
  background-color:green;
  display:flex;
  align-items:center;
  justify-content:center;
}
svg{
  display:flex;
  align-items:center;
  justify-content:center;
  overflow:visible;
  width:100%;
  height:100%;
  transform:rotate(45deg);
}
svg g circle{
  transform:scale(1);
}
svg rect{
  width:100%;
  height:100%;
}
.cover-circle{
  animation:coverCircle 2s ease forwards;
}
.shape-icon{
    -webkit-animation: moveToSun 2s ease forwards;
    animation: moveToSun 2s ease forwards;
    -webkit-transform-origin: center center;
    transform-origin: center center;
}
svg cricle{
  transform-box: fill-box;
  transform-origin: center center;
}

@keyframes coverCircle{
  to{
    transform:translateY(-100%);   
  }
}
@keyframes moveToSun{
  to{
    transform:scale(.55) rotate(90deg);  
  }
}
